---
import Layout from "../../layouts/Layout.astro";
import About from './About.svelte';
---

<Layout title="Ben Stephens">
	<h1>About <span class="lighter">Me</span></h1>
	<About />
</Layout>

<style lang="scss">
    h1 {
        text-align: center;
    }

	.blog-post-list {
		width: 100%;
		max-width: var(--content-width);
		margin: auto;
		padding: 2rem;
	}
</style>