---
import Layout from "../../layouts/Layout.astro";

---

<Layout title="Ben Stephens">
	<h1>About <span class="lighter">Me</span></h1>
</Layout>

<style lang="scss">
    h1 {
        font-weight: 400;
        letter-spacing: -5px;
        font-size: 60px;
        text-align: center;
    }

	.blog-post-list {
		width: 100%;
		max-width: var(--content-width);
		margin: auto;
		padding: 2rem;
	}
</style>