---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Ben Stephens">
	<h1><span class="lighter">Get in</span> Touch</h1>
</Layout>

<style lang="scss">
    h1 {
        text-align: center;
    }
</style>