---
import Layout from "../layouts/Layout.astro";
import HomeSection from "../components/HomeSection.astro";
import { getHomeSections } from "../utils/sanity";

let homeSections = await getHomeSections();
homeSections.sort((a, b) => a.sortIndex - b.sortIndex);
---

<Layout title="Ben Stephens">
	<div class="introduction">
		<h1><span class="lighter">Front-end</span> Developer</h1>
		<div>
			<p>I'm Ben, a Brighton based front-end Developer.</p>
			<p>
				I specialise in building fast, accessible, SEO and
				user-friendly websites & applications.
			</p>
		</div>
	</div>
	<div class="home-sections">
		{homeSections.map((section) => <HomeSection section={section} />)}
	</div>
</Layout>

<style lang="scss">
	.introduction {
		max-width: 800px;
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		margin: auto;
		margin-bottom: 2rem;
		padding: 0 1rem;

		h1 {
			margin-bottom: 1rem;
		}

		@media (min-width: 650px) {
			padding: 0;
			margin-bottom: 4rem;

			p {
				font-size: 24px;
				margin: 0.5rem;
			}
		}

		button {
			margin-top: 1.5rem;
			background-color: var(--accent);
			color: white;
		}
	}
	.home-sections {
		margin-top: 4rem;
		max-width: 1200px;
		width: 100%;
		margin: auto;
		display: flex;
		flex-direction: column;
	}
</style>