---
import Layout from "../../layouts/Layout.astro";
import { getProjects } from "../../utils/sanity";
import ProjectList from "../../components/ProjectList.svelte";

const projects = await getProjects();

const webApplications = projects.filter(
    (project) => project.projectType.type === "Web Application",
);
const webSites = projects.filter(
    (project) => project.projectType.type === "Web Site",
);

console.log(webSites);
---

<Layout title="Projects">
    <div class="projects">
        <h1><span class="lighter">My</span> Projects</h1>
        <div>
            <h2>Web applications</h2>
            <ProjectList projects={webApplications} />
        </div>
        <div>
            <h2>Websites</h2>
            <ProjectList projects={webSites} />
        </div>
    </div>
</Layout>

<style lang="scss">
    .projects {
        max-width: var(--content-width);
        width: 100%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        gap: 4rem;
        padding: 0 2rem;
    }

    h1 {
        text-align: center;
        margin-bottom: 2rem;
    }

    h2 {
        font-size: 1.8rem;
        font-weight: 300;
        border-bottom: 2px solid var(--accent);
        padding-bottom: 2px;
        width: fit-content;
    }
</style>
