---
import { ViewTransitions } from 'astro:transitions';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<ViewTransitions/>
	</head>
	<body>
		<header>
			<nav>
				<a href="/" class="no-underline"><h1>Ben Stephens</h1></a>
				<div>
					<a href="/projects">Projects</a>
					<a href="/blog">Blog</a>
					<a href="/about">About</a>
					<a href="/contact" class="no-underline">
						<button>Contact</button>
					</a>
				</div>
			</nav>
		</header>
		<slot />
		<footer>
			<p>© Ben Stephens 2024</p>
		</footer>
	</body>
</html>

<style lang="scss">
	header {
		width: 100%;
		max-width: var(--content-width);
		margin: 0 auto;
		padding: 1rem 2rem;
		position: sticky;
		top: 0px;
		background-color: rgba(239, 237, 228, 0.8);
		backdrop-filter: blur(5px);
		z-index: 100;
	}

	nav {
		display: flex;
		justify-content: space-between;
		align-items: center;

		div {
			display: flex;
			align-items: center;
			gap: 20px;
		}
	}

	button {
		border: 2px solid var(--accent);
		color: var(--accent);
	}

</style>

<style is:global lang="scss">
	@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
	@import url('https://fonts.googleapis.com/css2?family=Inter&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

	:root {
		--content-width: 1450px;

		--primary: #3D3929;
		--secondary: #EFEDE4;
		--accent: #C86341;
	}

	* {
		box-sizing: border-box;
	}
	
	body {
		background-color: #EFEDE4;
		color: var(--primary);
		font-family: "Inter", sans-serif;
		margin: 0 auto;
	}

	footer {
		background-color: rgb(30, 30, 30);
		color: white;
		text-align: center;
		padding: 2rem;
	}

	h1, h2, h3, h4 {
		font-family: "Montserrat", sans-serif;
		margin: 0;
		font-weight: 300;
	}	
	
	a {
		text-decoration: none;
		color: #3D3929;
		border-bottom: 2px solid transparent;
		transition: border-bottom 0.2s;

		&::after {
			content: "";
			display: block;
			width: 0;
			margin-top: 3px;
			height: 2px;
			background-color: var(--accent);
			transition: width 0.3s;
		}

		&:hover {
			&::after {
				width: 100%;
			}
		}

		&.no-underline {
			&::after {
				display: none;
			}
		}
	}

	button a {
		border-bottom: none;
		color: inherit;

		&::after {
			display: none;
		}

		&:hover {
			border-bottom: none;
		}
	}

	button {
		font-weight: 600;
		border: none;
		padding: 10px 20px;
		border-radius: 5px;
		cursor: pointer;
		background: transparent;
		transition: 0.3s scale;

		&:hover {
			scale: 1.05;
		}

		&:active {
			scale: 0.95;
		}
	}
</style>
